@model Ctenarak.Models.Article

@{
    ViewData["Title"] = "Delete";
}

<h3>Jste si jistí, že chcete tuto položku smazat?</h3>
<div>
    <h4>Article</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Obsah)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Obsah)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Popis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Popis)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Smazat" class="btn btn-danger" /> |
        <a asp-action="Index">Zpět</a>
    </form>
</div>
